.center {
  text-align: center !important;
}

.form {
  width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}

.level2 {
  margin-left: 22px;
}

.title {
  font-size: 15px;
  color: #096dd9;
  margin-left: 5px;
}

.checkboxWapper {
  height: 200px;
  overflow-y: auto;
  background: #efefef6e;
  padding-left: 20px;
}

:global .role{
  .ant-breadcrumb {
    & > span {
      &:last-child {
        color: #d9d9d9;
        font-weight: normal;
      }
    }
  }

  .ant-breadcrumb-link {
    .anticon + span {
      margin-left: 4px;
    }
  }

  .ant-table {
    .ant-table-thead > tr > th {
      text-align: center;
      background-image: url("../img/blue.jpg");
      color: #e8e8e8;
    }
  }
}
