.main {
  margin-top: 20px;
  background-color: #fff;
}

.map {
  height: 600px;
  padding: 0 !important;
}

.search {
  width: 400px;
  line-height: 80px;
}

.errorMarker {
  width: 40px;
  height: 40px;
  background: url(../img/error.png) no-repeat;
  background-size: cover;
}

.normalMarker {
  width: 40px;
  height: 40px;
  background: url(../img/normal.png) no-repeat;
  background-size: cover;
}

.offlineMarker {
  width: 40px;
  height: 40px;
  background: url(../img/offline.png) no-repeat;
  background-size: cover;
}

:global .gis {
  height: 600px;
  overflow-y: auto;

  .ant-list {
    color: #e8e8e8;
    background-color: #2f7f80;
  }
}

:global .gis-checkbox .ant-checkbox-group-item {
  color: #fff;
}