.block {
  background-color: #f0f2f5;
  height: 300px;
}

.echart {
  height: 300px;
  width: 100%;
  background-color: #fff;
  padding: 30px;
}

.summaryWrapper {
  display: flex;
  justify-content: center;
}

.item {
  border-right: 1px solid #eee;
  float: left;
  padding: 0 46px;

  &:last-child {
    border-right: none;
  }
}

.summaryTitle {
  font-size: 18px;
  color: #333;
  margin-bottom: 2px
}

.number {
  text-align: center;
  margin-bottom: 0;
}

.center {
  text-align: center !important;
}

.tableWrapper {
  background: #fff;
  border-radius: 4px;
}

.more {
  display: block;
  text-align: right;
}

.tableTitle {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

:global .dashboard .ant-table.ant-table-bordered .ant-table-title{
  position: static;
  border-bottom: none;
}