.InputWrapper {
  float: left;
  left: 1%;
  right:1%;
  width: 50px;
  margin-top: 5px;
  padding: 10px;
}

.InputPasswordWrapper {
  float: initial;
  left: 1%;
  right:1%;
  width: 50px;
  margin-top: 5px;
  padding: 10px;
}

.textTitle {
  font-size: 100%;
  font-weight: bold;
}

.formWrapper2 {
  float: left;
  position: absolute;
  top: 20%;
  left: 1%;
  right:1%;
  width: 100%;
  //height: 500px;
  padding: 36px;
  -webkit-box-shadow: 0 0 100px rgba(0,0,0,.08);
  box-shadow: 0 0 100px rgba(0,0,0,.08);
}

.summaryWrapper {
   display: flex;
   justify-content: left;
 }

.itemWrapper {
  margin-left: 5px;
}

.cardWrapper {
  margin-top: 50px;
}

.loginFormButton {
  width: 100%;
}

.loginFormForgot {
  float: right;
}

.addButton {
  float: right;
  margin-right: 30px;
}

.cancelButton {
  float: right;
  margin-right: 5px;
}
